@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

.plotLine {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

.plot {
    /*height: 300px;*/
    display: inline-block;
    margin: 0 0 10px 0;
    /*overflow: visible !important;*/
    border: 1px solid #666666;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.plotNarrow {
    width: calc(50% - 5px);
}

.plotWide {
    width: 100%;
}

.plotShort {
    height: 300px;
}

.plotTall {
    height: 400px;
}

.plotTallest {
    height: 550px;
}

.plotpair {
    margin: 0 auto;
}

.highcharts-container {
    overflow: visible !important;
    /*box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);*/
}

.plotButton rect {
    width: 90px;
}

.plotButton text {
    text-anchor: middle;
}

svg {
    overflow: visible;
}

@media (max-width: 800px) {
    .plotNarrow,
    .plotWide {
        width: 100%;
    }

    .plotLine {
        display: block;
    }
}

/* Race */

#container {
    height: 300px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
#play-controls {
    text-align: center;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
    padding: 5px 0 1em 0;
}
#play-controls * {
    display: inline-block;
    vertical-align: middle;
}
#play-pause-button {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 3px;
    background: #f8f8f8;
}
#play-range {
    margin: 2.5%;
    width: 70%;
}
#play-output {
    font-family: Arial, Helvetica, sans-serif;
}
