.plotLine {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

.plot {    
    /*height: 300px;*/
    display: inline-block;
    margin: 0 0 10px 0;
    /*overflow: visible !important;*/
    border: 1px solid #666666;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.plotNarrow {
    width: calc(50% - 5px);
}

.plotWide {
    width: 100%;
}

.plotShort {
    height: 300px;
}

.plotTall {
    height: 400px;
}

.plotpair {
    margin: 0 auto;
}

.highcharts-container { 
    overflow: visible !important;
    /*box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);*/
}

.plotButton rect {
    width: 90px;
}

.plotButton text {
    text-anchor: middle;
}

svg { 
    overflow: visible;
}


@media (max-width: 600px) {
    .plotNarrow,
    .plotWide {
        width: 100%;
    }

    .plotLine {
        display: block;
    }
}